<%flash[:errors].try(:each) do |error|%>
	<%=error%>
<% end %>

<form action="http://localhost:3000/cat_rental_requests" method="post">
	<label for="name">Name</label>
	<select name="cat_rental[cat_id]">
		<% @cats.each do |cat| %>
		<option value="<%= cat.id %>"><%= cat.name %></option>
		<% end %>
	</select>

	<br />

	<label for="begin_date">Begin Date</label>
	<input type="date" name="cat_rental[begin_date]" id="begin_date">

	<br />

	<label for="end_date">End Date</label>
	<input type="date" name="cat_rental[end_date]" id="end_date">
	<br />
	<input type="submit" value="Submit rental request!">
</form>
